@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    h1{
        @apply text-4xl sm:text-5xl md:text-5xl text-white ;
        line-height: 3.5rem !important;
    }

    h2{
        @apply text-2xl md:text-3xl font-bold text-primary;
        line-height: 2.5rem !important;
    }

    p{
        @apply text-sm md:text-base;
    }
}

@layer utilities{
    /* WRAPPER TO SPACE HEADER AND HERO */
    .wrapper-header-hero{
        @apply py-8 m-auto text-white w-5/6 max-w-screen-2xl; 
    }

    /* WRAPPER TO SPACE SECTION THAT WHAT NOT HEADER OR HERO */
    .wrapper-content{
        @apply py-8 m-auto w-5/6 max-w-screen-2xl;     
    }

    /* DEGRADE USED FOR IMAGES */
    .degradeBackground{
        background: linear-gradient(104.9deg, rgba(239, 35, 243, 0.7) -2.03%, rgba(195, 38, 228, 0.7) 27.04%, rgba(139, 42, 209, 0.7) 67.97%, rgba(92, 44, 193, 0.7) 107.39%);
    }

    /* LIMITATE CARD TITLE AND DESCRIPTION  */
    .post-title, .post-description{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Adjust to limit the number of lines */
        -webkit-box-orient: vertical;
    }
    .post-description{
        -webkit-line-clamp: 3; /* Adjust to limit the number of lines */
    }
}

@layer components{
    /* HEADER LINKS EFFECTS */
    .headerLink {
        color: white;
        text-decoration: none;
        display: inline-block;
        font-weight: bold;
        padding: 0.5em;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    
    .headerLink:before,
    .headerLink:after {
        position: absolute;
        content: '';
        border-bottom: 3px solid #4FFF4B;
        border-radius: 1em;
        bottom: 0.3em;
        transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    .headerLink:before {
        width: 1em;
        transform-origin: left;
    }
    
    .headerLink:after {
        width: 82%;
        left: 1em;
        transform: translateX(110%);
    }
    
    .headerLink:hover:before {
        transform: scaleX(0.3);
    }
    
    .headerLink:hover:after {
        transform: translateX(0);
    }

    /* HIDDEN ICON FOR MOBILE MENU */
    .hiddenIcon{
        flex-direction: column;
        justify-content: space-around;
        width: 2rem;
        height: 2rem;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 50;
    }
    
    .hiddenIcon div{
        width: 2rem;
        height: 0.25rem;
        background-color: white;
        border-radius: 10px;
        transition: all 0.3s linear;
        position: relative;
        transform-origin: 1px;
    }

    .hiddenIcon div:first-child {
        transform: rotate(0);
    }
    .hiddenIcon div:nth-child(2) {
        opacity: 1;
        transform: translateX(0)
    }
    .hiddenIcon div:nth-child(3) {
        transform: rotate(0)
    }

    .hiddenIcon-active  div:first-child {
        transform: rotate(45deg) !important;
    }
    .hiddenIcon-active  div:nth-child(2) {
        opacity: 0;
        transform: translateX(20px) !important;
    }
    .hiddenIcon-active  div:nth-child(3) {
        transform: rotate(-45deg) !important
    }


    /* HIDDEN MOBILE MENU */
    .hiddenMenu{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        @apply bg-primary;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        min-height: 100vh;
        position: fixed;
        top: 80px;
        right: 0; 
        padding-inline: 2rem;
        max-width: 100%;
        z-index: 50;
        display: flex;
        gap: 1rem;
        padding-top: 2rem;
    }
    
    .hiddenMenu-active{
        transform: translateX(0) !important;
    }


    .inputDiv {
        width: 100%;
        position: relative;
    }

    .inputDiv  label {
        color: #290742;
        font-size: 18px;
        background-color: #fff;
        position: absolute;
        top: 15px;
        left: 10px;
        font-weight: 700;
        padding: 0 7px;
        transition: 0.3s;
        pointer-events: none;
    }

    .inputDiv input , .inputDiv textarea {
        outline: 0;
        width: 100%;
        padding: 10px 15px;
        font-size: 20px;
        border: 2px solid #290742;
        border-radius: 5px;
    }

      
    .inputDiv.focus label {
        font-size: 16px;
        top: -10px;
        left: 10px;
    }
}